!!! 5
%html
  %head
    %title Next Generation Business Development | Kennion Management
    %link{ :href => "styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }

  %body= yield